<footer class=" py-5 text-white">
  <div class="container py-5 px-5">
    <div class="row justify-content-around">
      <div class="col-md-3 py-2 text-center">
        <h3 class="mb-3 sec">LOCATION</h3>
        <p class="m-0">2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-md-3 py-2 text-center">
        <h3 class="sec mb-3">AROUND THE WEB</h3>
        <div class="row justify-content-around py-4">
          <div class="icon col-md-3 ">
            <i class="fa-brands fa-facebook-f"></i>
          </div>
          <div class="icon col-md-3">
            <i class="fa-brands fa-twitter"></i>
          </div>
          <div class="icon col-md-3">
            <i class="fa-brands fa-linkedin-in"></i>
          </div>
          <div class="icon col-md-3">
            <i class="fa-brands fa-dribbble"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-2 text-center">
        <h3 class="mb-3 ">ABOUT FREELANCER</h3>
        <p class="m-0">Freelance is a free to use, MIT</p>
        <p class="m-0">licensed Bootstrap theme created by</p>
        <p class="m-0">Route</p>
      </div>
    </div>
  </div>
</footer>
<section class=" bg-dark text-white">
  <div class="container">
    <div class=" py-2 d-flex justify-content-center align-items-center">
      <p>Copyright © Your Website 2021</p>
    </div>
  </div>
</section>
