<section class="">
  <div class="container py-5">
    <div class="header d-flex justify-content-center">
      <h1>ABOUT</h1>
    </div>
    <div class="icon  fs-2 text-white py-2 d-flex justify-content-center align-items-center">
      <span class="line"></span>
      <i class="fa-solid px-3 fa-star"></i>
      <span class="line"></span>
    </div>
    <div class="row px-5 justify-content-center offset-md-1">
      <div class="col-md-5 p-5 ">
        <p class="bio">
          Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML,
          CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-5 p-5">
        <p class="bio">
          You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to
          the contact form to make it fully functional!
        </p>
      </div>
    </div>
  </div>
</section>
