<section class="vh-100">
  <div class="container">
    <div class="d-flex justify-content-center">
      <img width="240px" src="assets/images/avataaars.svg" alt="">
    </div>
    <div class="py-5 d-flex justify-content-center">
      <h1>START ANGULAR</h1>
    </div>
    <div class="icon d-flex justify-content-center position-relative fs-2 align-items-center text-white">
      <span class="line"></span>
      <i class="fa-solid fa-star"></i>
      <span class="line"></span>
    </div>
    <div class="py-5 d-flex justify-content-center">
      <p class="fs-4 fw-medium text-white">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>
